.loginform{
  text-align: center;
  display: block;
  background-color: rgb(106, 131, 153);
  box-shadow: black;
  border-radius: 10%;
  position: fixed;
  
}
.loginform input{
  text-decoration: none;

  
}